<!-- STEP 1 -->

<h1 class='subhead'>How do you want to make a difference?</h1>

<% @categories.each do |category| %>
	<%= label_tag category.name %>
	<%= radio_button_tag 'category', category.id, class: 'category' %>
	<br>
<% end %>
<%= submit_tag "Let's Get Started", class: 'btn btn-success' %>

