

<div id=<%= "goal#{index}" %> class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= "#{@contracts[index].level.task.name.capitalize} goal 
            due #{@contracts[index].finish_date.strftime("%B %e, %Y")}" %></h4>
      </div>
      <div class="modal-body">
        <div class="graphwrapper">
          <div id=<%= "graph" + index.to_s %>></div>
          <%= render_chart @charts[index], "graph" + index.to_s %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Dismiss</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>