<div>
	<h2>Specify the Timeline</h2>
	<div class="form-field">
		<div><%= label_tag 'Finish Date (mm/dd/yyyy)' %></div>
		<%= date_field_tag :finish_date %>
	</div>
	<%= submit_tag 'Finalize Contract', class: 'btn btn-primary' %>
</div>

