
<div class="jumbotron">
        <h1>Sustainable living made easy.</h1>
        <p class="lead">Helping the planet shouldn't be slowing you down! With Loraction, you'll be setting goals, seeing great results and challenging
        	friends to do the same in no time!</p>
        <p>
        	<%= link_to 'Get Started Today', new_user_registration_path, class: "btn btn-lg get_started" %>
        	<%= link_to 'Sign In', new_user_session_path, class: "btn btn-lg get_started" %>
        </p>
      </div>

 <div class="row intro_row">
        <div class="col-lg-4">
          <div class="circle">
          	<div class="content">
          		56m
          	</div>
          </div>
          <h2 class='descrip'>Cubic meters <br>of carbon saved</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="circle">
          	<div class="content">
          		36k	
          	</div>
          </div>
          <h2 class='descrip'>Litres of <br>water conserved</h2>
        </div>
        <div class="col-lg-4">
          <div class="circle">
          	<div class="content">
          		4032
          	</div>
          </div>
          <h2 class='descrip'>Trees loved<br>through hugging</h2>
        </div>