<div class='eighty center'>
	<h1><%= @user.full_name %>'s Profile</h1>
	<div class="col-md-4 profile">
		<div class="profilewrap bubble">
			<%= @user.contracts.count %> <br> Contracts
		</div>
	</div>
	<div class="col-md-4 profile">
		<div class="profilewrap bubble">
			<%= @report_count %> <br> Reports
		</div>
	</div>
	<div class="col-md-4 profile">
		<div class="profilewrap bubble">
			<%= @water_saved %> L <br> Water Saved 
		</div>
	</div>
</div>