
 @import "bootstrap";
 @import "bootstrap_override";	
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

$intro_font_color: rgb(255, 255, 111);
$background_color: #16B6FA;
$lighter_background: #59C2FF;
$font_color: #eee;

.intro_body {
	background-image: url('loraxbg.jpg');	
	width: 100%;
	height: 100%;
	background-size: cover;
}
/*
.blockcontent {
	background-color: black;
}*/

.graphwrapper {
	width: 100%;
	text-align: center;
}

.graph {
	margin: 0 auto;
	
}

.eighty {
	width: 80%;
}

.bottomright {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.relative {
	position: relative;
}

.center {
	margin: 0 auto;
}

.narrow {
	width: 60%;
}

.narrower {
	width: 30%
}

.profile {
	text-align: center;
	font-size: 30px;
	/*width: 90%;*/
}

.profilewrap {
	text-align: center;	
}


.bubble {
	background-color: rgba(223, 228, 252, 0.29);
	padding: 20px;
	border-radius: 20px;
}

.invis::-webkit-input-placeholder {
	color: white;
	opacity: 0.6;
}

.subtext {
	margin-top: 5px;
}

.bottommargin {
	margin-bottom: 20px;
}

.subbubble {
	height: 70px;
	width: 80px;
	position: absolute;
	background-color: rgba(223, 228, 252, 0.29);
	border-radius: 20px;
	padding: 12px 10px;
	text-align: center;
	top: 0px;
}

.recent {
	right: 160px;
}

.average {
	right: 250px;
}

.initial {
	right: 340px;
}


.topmargin {
	margin-top: 150px;
}

.bold {
	font-weight: bold;
}

.green {
	color: #7bff92
}

.red {
	color: #ff6b5e;
}

.invis {
	margin-top: 20px;
	font-weight: bold;
	width: 100%;
	outline: none;
	opacity: 0.6;
	background: transparent;
	border: none;
	color: #fff;
	font-size: 22px;
	padding: 2px;
    text-align: center;
    border-bottom: 3px solid white; 
    
    display: table-cell;
    vertical-align: middle;
}

.fb {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.2s;
	&:hover {
		opacity: 1;
	}
}


body {
	margin-top: 20px;
	background-color: $background_color;	
	color: $font_color;
	font-family: 'Merriweather Sans', georgia;
}

.loading {
	margin: 150px auto;
	text-align: center; 
	font-size: 30px;
	border-radius: 20px;
	background-color: rgba(223, 228, 252, 0.29);
	padding: 20px;
	border-radius: 20px;
}

.block {
	background-color: $font_color;
	margin: 20px;
	padding: 20px;
	text-align: center; 
	margin: 0 auto;
	border: thick solid black;
	border-radius: 20px;
	width: 100%;
	transition: 0.4s;
	/*opacity: 0.6;*/
	&:hover {
		cursor: pointer;
		background-color: #B0E2FF;  
		opacity: 1; 	
	}
}





.facebook {
	border: none;
	background: no-repeat url('facebook.png') 0 0;
	height: 69px;
	width: 354px;
	
}

.full {
	width: 100%;
	text-align: right;
	margin-bottom: 5px;
}



.topright {
	position: absolute;
	top: 3px;
	right: 38px;
}

.fb-surround {
	height: 69px;
	width: 354px;
	border: thin solid black;
}

.intro_row {
	text-align: center;
}

.get_started {
	color: $intro_font_color;
	background-color: #41beff;


}

.get_started:hover {
	color: $intro_font_color;
	background: #52a5fd;
}

/*.table {
	border: 1px solid black;
	display: table;
	height: 500px;
}*/

.circle {
	border-radius: 50%; 
	height: 140px;
	width: 140px;
	background-color: rgba(73, 177, 231, 0.8);
	margin: 0px auto;
	display: table;
}

.descrip {
	/*#E88E0C*/
	background-color: rgba(73, 177, 231, 0.8);
	border-radius: 10px;
	color: $intro_font_color;
	padding: 10px;
	width: 80%;
	margin: 20px auto;
}

.content {
	vertical-align: middle;
	display: table-cell;
	font-size: 30px;
	color: $intro_font_color;
}

.lorax {
	position: fixed;
	bottom: 0px;
	right: -80px;
}

.footer {
	position: fixed;
	bottom: 10px;
	right: 200px;
	font-size: 16px;
}

a {
	color: #FAE8E4;
}

input {
	color: black;
}

select {
	color: black;
}

.blocktext {
	color: black;
	font-size: 30px;	
}

.tip {
	font-size: 22px;
	width: 70%;
	margin: 10px auto;
}

.tipwrap {
	text-align: center;
}

.subhead {
	text-align: center;
	margin-bottom: 50px;

}

.header {
	background-color: rgb(51,51,51);
}

.form-field {
	margin-bottom: 20px;
}

.greeting {
	margin: 20px 20px 0px 0px;
	font-size: 30px;
	font-weight: bold;
}

.popup {
	border-radius: 10px;
	opacity: 0.8;
	padding: 20px;
	font-weight: bold;
}

.notice {
	background-color: #a1ffa2;
	color: #057700;
	border: thin solid #057700;
}

/*.alert {
	background-color: #fc9b19;
	color: black;
	border: thin solid #784218;
}*/
